<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{% block title %}Billetterie du Musée du Louvre{% endblock %}</title>

    <!-- Bootstrap core CSS -->

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css"-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" /-->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"/>

        <link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href=" {{ asset('Public/css/cover.css') }}">
        <link rel="stylesheet" href=" {{ asset('Public/css/contact.css') }}">
    {% endblock %}

</head>

<body class="text-center">
    <header class="masthead mb-auto">
        <div role="main" class="flex-row cover-container d-flex h-100 p-3 mx-auto flex-column">

            <h1 class="cover-heading">Bienvenue sur le site de réservation du Louvre!!!</h1>
            <img class="img-fluid" src= "{{ asset('Public/images/louvre-header.jpg') }}" alt="Photo du musée du Louvre">

            <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="{{ path('louvre_booking_home') }}">Accueil</a>
                    <a class="nav-link " href="{{ path('louvre_booking_page') }}">Réserver</a>
                    <a class="nav-link" href="{{ path('louvre_booking_contact') }}">Contact</a>
            </nav>
        </div>
    </header>

    <section class="container col-8">
        {% block body %}

        {% endblock %}
    </section>


    <footer class="mastfoot mt-5">
        <p>Projet 4 sous Symfony 3.4, by @delfy.</p>
        <p><a href="{{ path('louvre_booking_legals') }}">Mentions légales</a></p>
    </footer>

{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src = "{{ asset('Public/js/jquery-3.3.1.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>

{% endblock %}

</body>
</html>

<!--script-- src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/locales/bootstrap-datepicker.fr.js"></script-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script-->
